
@{ ViewBag.Title = "Index";
                Layout = "~/Views/Admin/View.cshtml"; }

@*<h2>Thông tin các phương tiện</h2>
<hr />
@Html.Action("ListPhuongTien", "NhanVien")

<h2>Thông tin các địa điểm</h2>
<hr />
@Html.Action("ListDiaDiem", "NhanVien")

<h2>Thông tin các khách sạn</h2>
<hr />
@Html.Action("ListKhachSan", "NhanVien")

<h2>Thông tin các dịch vụ ăn uống</h2>
<hr />
@Html.Action("ListAnUong", "NhanVien")*@


